{% extends 'base.html' %}

{% block titulo %}
Dashboard
{% endblock %}

{% block body %}
<style>
    table {
        font-family: Poppins, sans-serif;
        width: 100%;
        border-radius: 20px;
        border-bottom: 1px solid var(--base-variant-secondary);
        border-collapse: separate;
        border-spacing: 0;
    }

    .scrollingTable {
        width: 100%;
        overflow-y: auto;
    }

    .scrollingTable::-webkit-scrollbar {
        width: 12px;
    }

    .scrollingTable::-webkit-scrollbar-track {
        background: var(--base-variant-secondary);
        border-radius: 10px;
    }

    .scrollingTable::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 10px;
        border: 3px solid var(--base-variant-secondary);
    }

    table th {
        background-color: var(--primary-color);
        color: white;
        padding: 10px;
        text-align: left;
    }

    table td {
        padding: 10px;
        text-align: left;
        overflow: hidden;
    }

    table th:not(:last-child) {
        border-right: 2px solid var(--base-variant-secondary);
    }

    table tr:nth-child(even) {
        background-color: transparent;
    }

    table tr:not(:last-child) td {
        border-bottom: 1px solid var(--base-variant-secondary);
    }

    table td:not(:last-child) {
        border-right: 2px solid var(--base-variant-secondary);
    }
    
    table tr:first-child th:first-child {
        border-top-left-radius: 20px;
    }

    table tr:first-child th:last-child {
        border-top-right-radius: 20px;
    }

    table tr:last-child td:first-child {
        border-bottom-left-radius: 20px;
    }

    table tr:last-child td:last-child {
        border-bottom-right-radius: 20px;
    }

    table td.descricao {
        max-width: 200px;
        /* Adjust as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }

    .dashboard-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nome-usuario {
        background-color: var(--accent-color);
        color: var(--base-color);
        padding: 7px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-family: Poppins, sans-serif;
        font-size: 1rem;
        font-weight: lighter;
    }

    .nome-usuario button {
        background-color: transparent;
        border: 0;
    }

    .action-btns {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .center-action-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .alert {
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 10px;
        display: flex;
        border: 0;
    }

    .alert input {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: var(--text-color);
        transition: transform ease-in-out 0.3s;
        align-items: center;
    }

    .alert input:hover {
        transform: scale(1.1);
        transition: transform ease-in-out 0.3s;
    }

    .msg-alert {
        width: 90%;
    }

    .close-btn {
        position: absolute;
        right: 13px;
        top: 7px;
    }
</style>
<script type="text/javascript">
    function makeTableScroll() {
        // Constant retrieved from server-side via JSP
        var maxRows = 6;

        var table = document.getElementById('myTable');
        var wrapper = table.parentNode;
        var rowsInTable = table.rows.length;
        var height = 0;
        if (rowsInTable > maxRows) {
            for (var i = 0; i < maxRows; i++) {
                height += table.rows[i].clientHeight;
            }
            wrapper.style.height = height + "px";
        }
    }

    function removeFlash() {
        const element = document.getElementById("div_flash");
        element.remove();
    }
</script>

<body onload="makeTableScroll()">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4" style="width: 100%; max-width: 95%;">

            <h1 style="text-align: center; font-family: Rubik, sans-serif;">DASHBOARD</h1>

            <div class="dashboard-nav">

                <a href="{{ url_for('logout') }}"><button type="button" class="bg-danger nm-button">Logout</button></a>
                <div class="nome-usuario">
                    <button>USUÁRIO: {{ usuario }}</button>
                </div>

            </div>
            <hr>

            <h3 style="text-align: center; font-family: Rubik, sans-serif;">TAREFAS</h3>
            <a href="{{ url_for('criar_evento') }}"> <button type="button" class="btn btn-primary nm-button"
                    style="text-transform: uppercase; letter-spacing: 3px;">Criar Nova Tarefa</button> </a>

            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} bg-danger" id="div_flash">

                <div class="msg-alert">
                   {{ message }}
                </div>
                <div class="close-btn">
                    <input type="button" value=&#10006 onclick="removeFlash()" style="float: right">
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="scrollingTable">
                <table id="myTable">
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>

                    {% for tarefa in tarefas %}
                    <tr>
                        <td style="max-width: 150px">{{ tarefa.nome_tarefa }}</td>
                        <td style="max-width: 70px;">{{ tarefa.data_tarefa }}</td>
                        <td style="max-width: 200px">{{ tarefa.descricao }}</td>
                        <td style="max-width: 100px;">{{ tarefa.status }}</td>
                        <td
                            style="justify-content: space-between; align-items: center; height: 100%; max-width: 200px;">
                            <div class="center-action-buttons">
                                <div class="action-btns">
                                    <a href="{{ url_for('editar_evento', id=tarefa.id) }}"><button type="button"
                                            class="btn bg-warning nm-button"
                                            style="text-transform: uppercase; letter-spacing: 3px;">EDITAR</button></a>

                                    <form action="{{ url_for('deletar_evento', id=tarefa.id) }}" method="POST"
                                        style="display:inline;">
                                        <button type="submit"
                                            onclick="return confirm('Você tem certeza que deseja excluir?')"
                                            class="btn bg-danger nm-button"
                                            style="text-transform: uppercase; letter-spacing: 3px;">EXCLUIR</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>

        </div>
    </div>
</body>

{% endblock %}